$animation-time: 2s;
$button-border: #264d00;
$button-background: rgba(44, 158, 24, 0.5);
$download-border: #244b91;
$download-background: #356bcd85;
$normal-background: rgba(109, 109, 109, 0.15);
$message-backround: rgba(238, 255, 0, 0.445);
.App {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	column-gap: 100px;
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f1f1f1;
}
.title {
	margin-top: 20px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: 600;
	padding: 10px;

	height: 10vh;
	width: 45vw;
	text-transform: uppercase;
	box-sizing: border-box;
	overflow: hidden;
	&::after {
		position: absolute;
		top: 45%;
		left: 0;
		content: "";
		width: 100%;
		height: 50%;
		background-color: darken($normal-background, 30);
		z-index: -1;
		transform: rotateX(70deg);
		clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
		// animation: floating 1s infinite alternate;
	}
	@media (max-width: 800px) {
		height: 10vh;
		width: 85vw;
		font-size: 110%;
		&::after {
			top: 35%;
		}
	}
}
.input,
.bad-input {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
input {
	margin: 2px;
	width: 20vw;
	height: 7vh;
	background-color: $normal-background;
	border: none;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	@media (max-width: 800px) {
		width: 70vw;
		height: 7vh;
	}
	&:focus {
		outline: none;
	}
}
.box,
.bad-box {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		width: 50%;
		height: 50%;
		border-top: 2px solid #000;
		border-left: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: 0px;
		right: 0;
		width: 50%;
		height: 50%;
		border-bottom: 2px solid #000;
		border-right: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
	}
	&:focus-within::before,
	&:focus-within::after {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}
}
.bad-box {
	&::after {
		border-top: 2px solid rgb(207, 0, 0);
		border-left: 2px solid rgb(207, 0, 0);
	}
	&::before {
		border-bottom: 2px solid rgb(207, 0, 0);
		border-right: 2px solid rgb(207, 0, 0);
	}
	& input {
		background-color: #ff222299;
	}
}
a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
}

button,
a {
	font-size: 20px;
	position: relative;
	width: 20vw;
	height: 7vh;
	background-color: $normal-background;
	border: none;
	&::after {
		content: "";
		position: absolute;
		top: -2px;
		left: -2px;
		width: 50%;
		height: 50%;
		border-top: 2px solid #000;
		border-left: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: -2px;
		right: -2px;
		width: 50%;
		height: 50%;
		border-bottom: 2px solid #000;
		border-right: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
	}
	&:hover::before,
	&:hover::after {
		width: calc(100% + 2px);
		height: calc(100% + 2px);
	}
	@media (max-width: 900px) {
		width: 70vw;
		height: 7vh;
	}
}
button {
	background-color: $button-background;
	&::before {
		border-bottom: 2px solid $button-border;
		border-right: 2px solid $button-border;
	}
	&::after {
		border-top: 2px solid $button-border;
		border-left: 2px solid $button-border;
	}
}
.download {
	background-color: $download-background;
	&::before {
		border-bottom: 2px solid $download-border;
		border-right: 2px solid $download-border;
	}
	&::after {
		border-top: 2px solid $download-border;
		border-left: 2px solid $download-border;
	}
}
.text {
	font-size: 20px;
	position: relative;
	width: 20vw;
	height: 7vh;
	background-color: $message-backround;
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		position: absolute;
		top: -2px;
		left: -2px;
		width: 50%;
		height: 50%;
		border-top: 2px solid #000;
		border-left: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
		animation: change $animation-time infinite alternate;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: -2px;
		right: -2px;
		width: 50%;
		height: 50%;
		border-bottom: 2px solid #000;
		border-right: 2px solid #000;
		z-index: -1;
		transition: width 1s ease-in-out, height 1s ease-in-out;
		animation: change $animation-time infinite alternate;
	}
}
@keyframes change {
	from {
		width: 100%;
		height: 100%;
	}
	to {
		width: 10%;
		height: 10%;
	}
}
